@media (min-width: 1200px) {
  .container {
    max-width: 1170px !important; } }

.padding-right {
  padding-right: 0 !important; }

.page-title-main {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 50px;
  margin: 0;
  color: var(--black-color); }

#map {
  width: 100%;
  height: 500px; }

.post-item {
  margin-bottom: 30px; }
  .post-item_img-block {
    position: relative; }
    .post-item_img-block:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../images/news-pattern.png);
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: center center !important; }
    .post-item_img-block_img {
      width: 100%;
      display: block;
      height: 180px;
      background-position: center center !important;
      background-size: cover !important;
      background-repeat: no-repeat !important; }
    .post-item_img-block_category {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 26px;
      color: var(--white-color);
      padding: 2px 12px;
      background-color: var(--theme-color-alt);
      border-radius: 0px 0px 5px 0px; }
    .post-item_img-block_addition_date {
      position: absolute;
      bottom: 10px;
      left: 5px;
      color: var(--white-color);
      font-size: 0.875rem; }
  .post-item_content-block {
    color: var(--black-color); }
    .post-item_content-block_title {
      margin: 13px 0 5px; }
      .post-item_content-block_title a {
        font-weight: 600;
        font-size: 1rem;
        line-height: 26px;
        color: var(--black-color);
        text-decoration: none;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        display: inline-block; }
        .post-item_content-block_title a:hover {
          text-decoration: none;
          color: var(--theme-color);
          text-decoration: none; }
    .post-item_content-block_text {
      font-size: 0.75rem;
      line-height: 22px;
      margin-bottom: 13px; }
      .post-item_content-block_text * {
        font-size: 0.75rem;
        line-height: 22px;
        margin-bottom: 0; }
    .post-item_content-block_link {
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      padding: 10px 0; }
      .post-item_content-block_link:hover {
        background-color: var(--theme-color);
        text-decoration: none; }
        .post-item_content-block_link:hover svg * {
          fill: var(--white-color) !important; }
      .post-item_content-block_link svg {
        margin-left: -60px; }

.menu-menu-1-container #menu-main {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .menu-menu-1-container #menu-main .menu-item {
    text-decoration: none;
    list-style: none;
    position: relative;
    margin: 0 11px; }
    .menu-menu-1-container #menu-main .menu-item.current_page_item:before {
      content: "";
      display: block;
      background: url(../images/active-border.svg);
      width: 100%;
      height: 8px;
      margin: 0 auto;
      background-size: cover;
      position: absolute;
      bottom: 0;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      overflow: hidden; }
    .menu-menu-1-container #menu-main .menu-item a {
      font-weight: 500;
      font-size: 0.9375rem;
      color: var(--black-color);
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      line-height: 80px; }
      .menu-menu-1-container #menu-main .menu-item a:hover {
        text-decoration: none;
        color: var(--theme-color); }
    .menu-menu-1-container #menu-main .menu-item:last-child {
      margin-right: 0; }

.link {
  font-weight: 500;
  font-size: 1rem;
  line-height: 28px;
  color: var(--white-color);
  text-transform: uppercase;
  background-color: var(--theme-color);
  border-radius: 30px;
  display: inline-block;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .link:hover {
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--black-color); }
  .link.link-large {
    padding: 11px 41px; }
  .link.link-main {
    padding: 11px 28px; }
  .link.alt {
    background: transparent;
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .link.alt:hover {
      background: var(--theme-color);
      color: var(--white-color); }

.sub-title {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 46px;
  color: var(--black-color); }

.home-slider {
  height: 620px;
  position: relative;
  background-size: cover !important;
  background-position: center center !important;
  overflow: hidden; }
  .home-slider_second, .home-slider_first {
    padding: 0 !important;
    color: var(--black-color); }
    .home-slider_second__title, .home-slider_first__title {
      font-weight: 600;
      font-size: 2.5rem;
      line-height: 50px;
      margin-bottom: 18px; }
    .home-slider_second__text, .home-slider_first__text {
      line-height: 28px;
      font-size: 1.125rem;
      margin-bottom: 36px; }
  .home-slider .home-slider_arrow-down {
    display: inline-block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 40px;
    z-index: 2; }
  .home-slider .wrap-dots {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    pointer-events: none; }
    .home-slider .wrap-dots .slick-dots {
      bottom: auto;
      width: auto;
      top: 50%;
      right: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .home-slider .wrap-dots .slick-dots li {
        width: 3px;
        height: 20px;
        background: #FFFFFF;
        border-radius: 5px;
        margin: 0 0 20px 0; }
        .home-slider .wrap-dots .slick-dots li button:before {
          display: none; }
        .home-slider .wrap-dots .slick-dots li.slick-active {
          background: var(--theme-color); }

.home-about {
  margin-top: 79px; }
  .home-about_first {
    padding-left: 0 !important;
    margin-bottom: 90px; }
    .home-about_first .sub-title {
      margin-bottom: 19px; }
    .home-about_first__text {
      margin-bottom: 33px; }
  .home-about_second {
    padding-right: 0 !important; }
    .home-about_second_list-facts {
      margin: -19px 100px 100px 0;
      padding: 0 !important; }
      .home-about_second_list-facts__item {
        position: relative;
        list-style: none;
        margin-bottom: 49px; }
        .home-about_second_list-facts__item:before {
          content: "";
          display: block;
          background: url(../images/line_about.svg);
          position: absolute;
          top: 50%;
          margin-top: -1px;
          left: 104%;
          height: 1px;
          width: 140%;
          background-size: cover !important; }
        .home-about_second_list-facts__item:last-child {
          margin-bottom: 0; }
        .home-about_second_list-facts__item__text {
          font-size: 1.5rem;
          line-height: 24px;
          text-align: right;
          margin-right: 20px; }
        .home-about_second_list-facts__item__number {
          color: var(--theme-color);
          font-weight: bold;
          font-size: 4rem;
          line-height: 78px; }

.events-section {
  background: #F4F4F4;
  padding: 78px 0 91px; }
  .events-section .sub-title {
    margin-bottom: 35px; }
  .events-section .events-section_list {
    margin: 0 0 40px;
    padding: 0;
    width: 100%; }
    .events-section .events-section_list_item {
      position: relative; }
      .events-section .events-section_list_item_category {
        font-weight: 500;
        font-size: 1rem;
        line-height: 26px;
        color: var(--white-color);
        padding: 8px 10px;
        background-color: var(--theme-color-alt);
        border-radius: 0px 0px 5px 0px;
        position: absolute;
        top: 0;
        left: 0; }
      .events-section .events-section_list_item__wrap {
        height: 100%;
        background-size: cover !important;
        background-position: center center !important;
        position: relative; }
        .events-section .events-section_list_item__wrap:before {
          content: "";
          display: block;
          background: url(../images/event-pattern.png);
          background-size: cover !important;
          background-position: center center !important;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0; }
      .events-section .events-section_list_item_content {
        color: var(--white-color);
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 22px 25px;
        width: 100%; }
        .events-section .events-section_list_item_content_title {
          font-weight: 600;
          font-size: 1.875rem;
          line-height: 40px;
          margin-bottom: 14px;
          margin-top: 0;
          color: var(--white-color);
          text-decoration: none;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
          display: inline-block; }
          .events-section .events-section_list_item_content_title:hover {
            color: var(--theme-color);
            text-decoration: none; }
        .events-section .events-section_list_item_content_text {
          line-height: 26px;
          margin-bottom: 22px; }
      .events-section .events-section_list_item__first {
        height: 450px;
        padding-left: 0; }
      .events-section .events-section_list_item__second {
        height: 210px;
        padding: 0; }
        .events-section .events-section_list_item__second:first-child {
          margin-bottom: 30px; }
        .events-section .events-section_list_item__second .events-section_list_item_content_title {
          margin-bottom: 14px; }
      .events-section .events-section_list_item_content_addition_link {
        color: var(--white-color);
        text-decoration: none;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
        .events-section .events-section_list_item_content_addition_link:hover {
          color: var(--theme-color);
          text-decoration: none; }

.home-portfolio {
  padding: 77px 0 90px;
  overflow: hidden; }
  .home-portfolio .sub-title {
    margin-bottom: 45px; }
  .home-portfolio .slick-dots {
    bottom: -60px; }
    .home-portfolio .slick-dots li {
      margin: 0 2.5px; }
      .home-portfolio .slick-dots li button {
        background-color: #D3D3D3;
        border-radius: 50%;
        width: 15px;
        height: 15px; }
        .home-portfolio .slick-dots li button:before {
          display: none; }
      .home-portfolio .slick-dots li.slick-active button {
        background-color: var(--dots-color); }
  .home-portfolio .slick-arrow {
    width: 50px;
    height: 50px;
    background-position: center center !important;
    background-image: url(../images/arrow.svg) !important;
    border: 2px solid #F1F2F3;
    border-radius: 50%;
    background-repeat: no-repeat !important;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-top: -90px; }
    .home-portfolio .slick-arrow:before {
      display: none; }
    .home-portfolio .slick-arrow:hover {
      background-color: #F4F4F4;
      border-color: #F4F4F4; }
  .home-portfolio .slick-prev {
    background-image: url(../images/arrow-left.svg) !important;
    left: -53px; }
  .home-portfolio .slick-next {
    right: -53px; }
  .home-portfolio .link-main {
    margin-top: 40px; }

.home-portfolio_carousel {
  width: 1200px;
  margin-bottom: 55px !important;
  margin-left: -15px;
  margin-right: -15px; }

.home-portfolio_carousel_item {
  margin: 21px 15px 0 15px; }
  .home-portfolio_carousel_item_img-block {
    margin-bottom: 10px;
    position: relative; }
    .home-portfolio_carousel_item_img-block_overlay {
      position: absolute;
      top: -20px;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid #F3F4F5; }
    .home-portfolio_carousel_item_img-block_hover-block {
      position: absolute;
      opacity: 0;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../images/portoflio-hover.png);
      background-size: cover !important;
      background-position: center center !important; }
      .home-portfolio_carousel_item_img-block_hover-block_link {
        display: inline-block;
        color: var(--white-color);
        padding: 6px 19px;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 28px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        border: 2px solid #FFFFFF;
        border-radius: 30px;
        position: absolute;
        bottom: 40px;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
        .home-portfolio_carousel_item_img-block_hover-block_link:hover {
          color: var(--white-color);
          text-decoration: none;
          background-color: var(--theme-color);
          border-color: var(--theme-color); }
    .home-portfolio_carousel_item_img-block:hover .home-portfolio_carousel_item_img-block_hover-block {
      opacity: 1; }
    .home-portfolio_carousel_item_img-block img {
      max-width: 100%; }
  .home-portfolio_carousel_item_title {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 28px;
    color: var(--black-color);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    min-height: 56px;
    display: inline-block;
    margin-bottom: 6px; }
    .home-portfolio_carousel_item_title:hover {
      color: var(--theme-color);
      text-decoration: none; }

.partners-section {
  padding-top: 78px;
  padding-bottom: 89px;
  background: url(../images/bg-partners.jpg);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important; }
  .partners-section .sub-title {
    margin-bottom: 17px; }
  .partners-section_sub-text {
    font-size: 1rem;
    line-height: 26px;
    width: 666px;
    margin-bottom: 37px; }
  .partners-section_carousel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    padding: 60px 30px;
    margin: 0 0 20px 0 !important;
    width: 1170px; }
    .partners-section_carousel_item {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 170px !important;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 15px; }
  .partners-section .slick-arrow {
    width: 50px;
    height: 50px;
    background-position: center center !important;
    background-image: url(../images/arrow.svg) !important;
    border: 2px solid #F1F2F3;
    border-radius: 50%;
    background-repeat: no-repeat !important;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-top: 0; }
    .partners-section .slick-arrow:before {
      display: none; }
    .partners-section .slick-arrow:hover {
      background-color: #F4F4F4;
      border-color: #F4F4F4; }
  .partners-section .slick-prev {
    left: -70px;
    background-image: url(../images/arrow-left.svg) !important; }
  .partners-section .slick-next {
    right: -70px; }
  .partners-section .slick-dots {
    bottom: -40px;
    left: 0; }
    .partners-section .slick-dots li {
      margin: 0 2.5px; }
      .partners-section .slick-dots li button {
        background-color: #D3D3D3;
        border-radius: 50%;
        width: 15px;
        height: 15px; }
        .partners-section .slick-dots li button:before {
          display: none; }
      .partners-section .slick-dots li.slick-active button {
        background-color: var(--dots-color); }
  .partners-section .link-main {
    margin-top: 75px; }

.feedback-section {
  padding: 90px 0; }
  .feedback-section .col-lg-6 {
    padding: 0; }
  .feedback-section_image-block {
    position: relative; }
    .feedback-section_image-block:before {
      display: block;
      content: "";
      position: absolute;
      top: -20px;
      left: -20px;
      border: 2px solid #F3F4F5;
      width: 100%;
      height: 100%;
      z-index: -1; }
    .feedback-section_image-block img {
      max-width: 100%; }
  .feedback-section .sub-title {
    margin-bottom: 20px; }
  .feedback-section_text {
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 36px; }
  .feedback-section .form-feedback input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: inline-block;
    padding: 12px 20px;
    font-size: 0.875rem;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    width: 370px; }
  .feedback-section .form-feedback .your-phone input {
    margin-bottom: 0; }
  .feedback-section .form-feedback .wpcf7-submit {
    margin-bottom: 0;
    margin-top: 33px;
    border: none;
    color: var(--white-color);
    font-weight: 500;
    font-size: 1rem;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 11px;
    background: var(--theme-color);
    border-radius: 30px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .feedback-section .form-feedback .wpcf7-submit:hover {
      background-color: var(--black-color); }

.page-contacts {
  position: relative; }
  .page-contacts_first-row {
    height: 500px;
    padding: 60px 36px;
    position: relative;
    z-index: 2;
    background: #fff;
    width: 37%;
    max-width: 37%;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15); }
    .page-contacts_first-row .page-title-main {
      margin-bottom: 37px; }
    .page-contacts_first-row_list-contacts {
      margin: 0 0 10px 0;
      padding: 0; }
      .page-contacts_first-row_list-contacts_item {
        list-style: none;
        margin-bottom: 22px; }
        .page-contacts_first-row_list-contacts_item svg {
          margin-right: 19px; }
        .page-contacts_first-row_list-contacts_item_phone-link {
          text-decoration: none;
          width: 100%;
          color: var(--black-color);
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
          display: inline-block; }
          .page-contacts_first-row_list-contacts_item_phone-link:hover {
            color: var(--theme-color);
            text-decoration: none; }
        .page-contacts_first-row_list-contacts_item_text {
          margin: 0; }
    .page-contacts_first-row_heading-soc-links {
      margin: 0 0 13px;
      line-height: 26px;
      font-size: 1rem;
      color: var(--black-color); }
    .page-contacts_first-row_soc-links {
      margin: 0;
      padding: 0; }
      .page-contacts_first-row_soc-links_item {
        list-style: none;
        padding-right: 11px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
        .page-contacts_first-row_soc-links_item:hover {
          opacity: .5; }
  .page-contacts_second-row {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0; }

.page-partners .hero {
  background-image: url(../images/partners-bg.jpg);
  margin-bottom: 100px; }

.page-partners_border {
  height: 3px;
  width: 100px;
  background: var(--theme-color);
  margin: 0 auto 30px auto; }

.page-partners_description {
  margin-bottom: 33px; }

.page-partners .link.link-main.alt {
  margin-bottom: 68px; }

.page-partners_partners-list {
  margin-bottom: 60px; }
  .page-partners_partners-list_item {
    height: 170px;
    margin-bottom: 30px; }

.hero {
  height: 200px;
  position: relative;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important; }
  .hero:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/hero-pattern.png);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
  .hero .hero_title {
    line-height: 200px;
    margin: 0;
    font-weight: 600;
    font-size: 1.875rem;
    color: var(--white-color);
    position: relative;
    text-align: center; }

.page-news .hero {
  background-image: url(../images/news-bg.jpg);
  margin-bottom: 92px; }

.page-news_category-block {
  margin: 0 0 50px 0;
  padding: 0; }
  .page-news_category-block_item {
    list-style: none; }
    .page-news_category-block_item_link {
      font-weight: 500;
      margin-left: 31px;
      line-height: 28px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--theme-color-alt);
      display: inline-block;
      padding: 4px 33px;
      border: 1px solid var(--theme-color-alt);
      border-radius: 30px;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      min-width: 170px;
      text-align: center; }
      .page-news_category-block_item_link:hover, .page-news_category-block_item_link__active {
        background-color: var(--theme-color-alt);
        border-color: var(--theme-color-alt);
        color: var(--white-color);
        text-decoration: none; }
  .page-news_category-block_item:first-child .page-news_category-block_item_link {
    margin-left: 0 !important; }

.page-news .news-pagination {
  margin: 50px  0  101px; }

footer {
  background: #E3E3E3;
  padding: 55px 0 30px; }
  footer .first-row {
    max-width: 264px; }
  footer .copyright-privacy {
    margin: 55px 0 0 0;
    font-size: 14px; }
  footer [class*="col"] {
    padding: 0; }
  footer #menu-footer {
    margin: 0;
    padding: 0;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3; }
    footer #menu-footer .menu-item {
      list-style: none;
      margin-bottom: 14px; }
      footer #menu-footer .menu-item a {
        font-size: 0.875rem;
        line-height: 17px;
        color: var(--black-color);
        white-space: nowrap; }
  footer .footer_top a {
    color: var(--black-color); }
  footer .footer_top_list-soc-links {
    margin: 0;
    padding: 0; }
    footer .footer_top_list-soc-links_item {
      list-style: none; }
      footer .footer_top_list-soc-links_item a {
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
        footer .footer_top_list-soc-links_item a:hover {
          opacity: .5; }
    footer .footer_top_list-soc-links_item:last-child a {
      padding-left: 10px; }
  footer .footer_top_mail {
    font-size: 0.875rem;
    line-height: 30px;
    text-decoration: none; }
  footer .footer_top_list-phones {
    margin: 0;
    padding: 0; }
    footer .footer_top_list-phones_item {
      list-style: none; }
      footer .footer_top_list-phones_item_link {
        text-decoration: none;
        color: var(--black-color);
        font-size: 0.875rem;
        line-height: 30px; }
  footer .footer_bottom {
    text-align: right; }
    footer .footer_bottom .bottom-copyright {
      font-size: 0.875rem;
      line-height: 16px;
      color: var(--black-color);
      margin-top: 20px;
      display: inline-block; }
      footer .footer_bottom .bottom-copyright span {
        color: #37991F; }
