@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

.menu-menu-1-container #menu-main {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .menu-menu-1-container #menu-main .menu-item {
    text-decoration: none;
    list-style: none;
    position: relative;
    margin: 0 11px; }
    .menu-menu-1-container #menu-main .menu-item.current_page_item:before {
      content: "";
      display: block;
      background: url(../images/active-border.svg);
      width: 100%;
      height: 8px;
      margin: 0 auto;
      background-size: cover;
      position: absolute;
      bottom: 0;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      overflow: hidden; }
    .menu-menu-1-container #menu-main .menu-item a {
      font-weight: 500;
      font-size: 0.9375rem;
      color: var(--black-color);
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      line-height: 80px; }
      .menu-menu-1-container #menu-main .menu-item a:hover {
        text-decoration: none;
        color: var(--theme-color); }
    .menu-menu-1-container #menu-main .menu-item:last-child {
      margin-right: 0; }

.link {
  font-weight: 500;
  font-size: 1rem;
  line-height: 28px;
  color: var(--white-color);
  text-transform: uppercase;
  background-color: var(--theme-color);
  border-radius: 30px;
  display: inline-block;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .link:hover {
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--black-color); }
  .link.link-large {
    padding: 11px 41px; }

.home-slider {
  height: 620px;
  position: relative;
  background-size: cover !important;
  background-position: center center !important; }
  .home-slider_second, .home-slider_first {
    padding: 0;
    color: var(--black-color); }
    .home-slider_second__title, .home-slider_first__title {
      font-weight: 600;
      font-size: 2.5rem;
      line-height: 50px;
      margin-bottom: 18px; }
    .home-slider_second__text, .home-slider_first__text {
      line-height: 28px;
      font-size: 1.125rem;
      margin-bottom: 36px; }
  .home-slider .home-slider_arrow-down {
    display: inline-block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 40px;
    z-index: 2; }
