$main_font: 'Montserrat'




//
// Boostrap css
//
@media (min-width: 1200px)
  .container
    max-width: 1170px
.row
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  margin-right: -15px
  margin-left: -15px

@media (min-width: 576px)
  .col-sm-7
    -ms-flex: 0 0 58.333333%
    flex: 0 0 58.333333%
    max-width: 58.333333%
  .col-sm-5
    -ms-flex: 0 0 41.666667%
    flex: 0 0 41.666667%
    max-width: 41.666667%

  .col-sm-8
    -ms-flex: 0 0 66.666667%
    flex: 0 0 66.666667%
    max-width: 66.666667%

  .col-sm-4
    -ms-flex: 0 0 33.333333%
    flex: 0 0 33.333333%
    max-width: 33.333333%
