$main_font: 'Montserrat', sans-serif

@media (min-width: 1200px)
  .container
    max-width: 1170px !important

=placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content

.padding-right
  padding-right: 0 !important

.page-title-main
  font-weight: 600
  font-size: 1.875rem
  line-height: 50px
  margin: 0
  color: var(--black-color)


#map
  width: 100%
  height: 500px

.post-item
  margin-bottom: 30px

  &_img-block
    position: relative

    &:before
      content: ""
      display: block
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: url(../images/news-pattern.png)
      background-repeat: no-repeat !important
      background-size: cover !important
      background-position: center center !important

    &_img
      width: 100%
      display: block
      height: 180px
      background-position: center center !important
      background-size: cover !important
      background-repeat: no-repeat !important

    &_category
      position: absolute
      top: 0
      left: 0
      display: inline-block
      font-weight: 500
      font-size: 0.875rem
      line-height: 26px
      color: var(--white-color)
      padding: 2px 12px
      background-color: var(--theme-color-alt)
      border-radius: 0px 0px 5px 0px

    &_addition_date
      position: absolute
      bottom: 10px
      left: 5px
      color: var(--white-color)
      font-size: 0.875rem

  &_content-block
    color: var(--black-color)

    &_title
      margin: 13px 0 5px

      a
        font-weight: 600
        font-size: 1rem
        line-height: 26px
        color: var(--black-color)
        text-decoration: none
        transition: all .3s
        display: inline-block

        &:hover
          text-decoration: none
          color: var(--theme-color)
          text-decoration: none

    &_text
      font-size: 0.75rem
      line-height: 22px
      margin-bottom: 13px

      *
        font-size: 0.75rem
        line-height: 22px
        margin-bottom: 0

    &_link
      transition: all .3s
      padding: 10px 0

      &:hover
        background-color: var(--theme-color)
        text-decoration: none

        svg *
          fill: var(--white-color) !important

      svg
        margin-left: -60px

.title-third
  font-weight: 600
  font-size: 1.875rem
  line-height: 40px
  margin: 0

//
// Header
//
.header
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05)

.menu-menu-1-container
  #menu-main
    margin: 0
    padding: 0
    display: flex
    align-items: center

    .menu-item
      text-decoration: none
      list-style: none
      position: relative
      margin: 0 11px

      &.current_page_item
        &:before
          content: ""
          display: block
          background: url(../images/active-border.svg)
          width: 100%
          height: 8px
          margin: 0 auto
          background-size: cover
          position: absolute
          bottom: 0
          border-top-left-radius: 2px
          border-top-right-radius: 2px
          overflow: hidden

      a
        font-weight: 500
        font-size: 0.9375rem
        color: var(--black-color)
        transition: all .3s
        line-height: 80px

        &:hover
          text-decoration: none
          color: var(--theme-color)

      &:last-child
        margin-right: 0


.link
  font-weight: 500
  font-size: 1rem
  line-height: 28px
  color: var(--white-color)
  text-transform: uppercase
  background-color: var(--theme-color)
  border-radius: 30px
  display: inline-block
  transition: all .3s

  &:hover
    text-decoration: none
    color: var(--white-color)
    background-color: var(--black-color)

  &.link-large
    padding: 11px 41px

  &.link-main
    padding: 11px 28px

  &.alt
    background: transparent
    border: 1px solid var(--theme-color)
    color: var(--theme-color)
    transition: all .3s

    &:hover
      background: var(--theme-color)
      color: var(--white-color)

.sub-title
  font-weight: 600
  font-size: 1.875rem
  line-height: 46px
  color: var(--black-color)

//
// Home slider
//
.home-slider
  height: 620px
  position: relative
  background-size: cover !important
  background-position: center center !important
  overflow: hidden

  &_second,
  &_first
    padding: 0 !important
    color: var(--black-color)

    &__title
      font-weight: 600
      font-size: 2.5rem
      line-height: 50px
      margin-bottom: 18px

    &__text
      line-height: 28px
      font-size: 1.125rem
      margin-bottom: 36px


  .home-slider_arrow-down
    display: inline-block
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: 40px
    z-index: 2

  .wrap-dots
    position: absolute
    top: 0
    right: 0
    left: 0
    height: 100%
    pointer-events: none

    .slick-dots
      bottom: auto
      width: auto
      top: 50%
      right: 0
      display: flex
      flex-direction: column

      li
        width: 3px
        height: 20px
        background: #FFFFFF
        border-radius: 5px
        margin: 0 0 20px 0

        button
          &:before
            display: none

        &.slick-active
          background: var(--theme-color)


//
// About
//
.home-about
  margin-top: 79px

  &_first
    padding-left: 0 !important
    margin-bottom: 90px

    .sub-title
      margin-bottom: 19px

    &__text
      margin-bottom: 33px

  &_second
    padding-right: 0 !important

    &_list-facts
      margin: -19px 100px 100px 0
      padding: 0 !important

      &__item
        position: relative
        list-style: none
        margin-bottom: 49px

        &:before
          content: ""
          display: block
          background: url(../images/line_about.svg)
          position: absolute
          top: 50%
          margin-top: -1px
          left: 104%
          height: 1px
          width: 140%
          background-size: cover !important

        &:last-child
          margin-bottom: 0

        &__text
          font-size: 1.5rem
          line-height: 24px
          text-align: right
          margin-right: 20px

        &__number
          color: var(--theme-color)
          font-weight: bold
          font-size: 4rem
          line-height: 78px

//
// Events
//
.events-section
  background: #F4F4F4
  padding: 78px 0 91px

  .sub-title
    margin-bottom: 35px

  .events-section_list
    margin: 0 0 40px
    padding: 0
    width: 100%

    &_item
      position: relative

      &_category
        font-weight: 500
        font-size: 1rem
        line-height: 26px
        color: var(--white-color)
        padding: 8px 10px
        background-color: var(--theme-color-alt)
        border-radius: 0px 0px 5px 0px
        position: absolute
        top: 0
        left: 0

      &__wrap
        height: 100%
        background-size: cover !important
        background-position: center center !important
        position: relative

        &:before
          content: ""
          display: block
          background: url(../images/event-pattern.png)
          background-size: cover !important
          background-position: center center !important
          width: 100%
          height: 100%
          position: absolute
          top: 0
          left: 0

      &_content
        color: var(--white-color)
        position: absolute
        bottom: 0
        left: 0
        padding: 22px 25px
        width: 100%

        &_title
          font-weight: 600
          font-size: 1.875rem
          line-height: 40px
          margin-bottom: 14px
          margin-top: 0
          color: var(--white-color)
          text-decoration: none
          transition: all .3s
          display: inline-block

          &:hover
            color: var(--theme-color)
            text-decoration: none

        &_text
          line-height: 26px
          margin-bottom: 22px

      &__first
        height: 450px
        padding-left: 0

      &__second
        height: 210px
        padding: 0

        &:first-child
          margin-bottom: 30px

        .events-section_list_item_content_title
          margin-bottom: 14px

      &_content_addition_link
        color: var(--white-color)
        text-decoration: none
        transition: all .3s

        &:hover
          color: var(--theme-color)
          text-decoration: none


//
// Portfolio
//

.home-portfolio
  padding: 77px 0 90px
  overflow: hidden

  .sub-title
    margin-bottom: 45px

  .slick-dots
    bottom: -60px

    li
      margin: 0 2.5px

      button
        background-color: #D3D3D3
        border-radius: 50%
        width: 15px
        height: 15px

        &:before
          display: none

      &.slick-active
        button
          background-color: var(--dots-color)

  .slick-arrow
    width: 50px
    height: 50px
    background-position: center center !important
    background-image: url(../images/arrow.svg) !important
    border: 2px solid #F1F2F3
    border-radius: 50%
    background-repeat: no-repeat !important
    transition: all .3s
    margin-top: -90px

    &:before
      display: none

    &:hover
      background-color: #F4F4F4
      border-color: #F4F4F4


  .slick-prev
    background-image: url(../images/arrow-left.svg) !important
    left: -53px

  .slick-next
    right: -53px

  .link-main
    margin-top: 40px

.home-portfolio_carousel
  width: 1200px
  margin-bottom: 55px !important
  margin-left: -15px
  margin-right: -15px

.home-portfolio_carousel_item
  margin: 21px 15px 0 15px

  &_img-block
    margin-bottom: 10px
    position: relative

    &_overlay
      position: absolute
      top: -20px
      left: 0
      width: 100%
      height: 100%
      border: 2px solid #F3F4F5

    &_hover-block
      position: absolute
      opacity: 0
      transition: all .3s
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: url(../images/portoflio-hover.png)
      background-size: cover !important
      background-position: center center !important

      &_link
        display: inline-block
        color: var(--white-color)
        padding: 6px 19px
        font-weight: 500
        font-size: 0.875rem
        line-height: 28px
        letter-spacing: 0.03em
        text-transform: uppercase
        border: 2px solid #FFFFFF
        border-radius: 30px
        position: absolute
        bottom: 40px
        left: 50%
        transform: translateX(-50%)
        transition: all .3s

        &:hover
          color: var(--white-color)
          text-decoration: none
          background-color: var(--theme-color)
          border-color: var(--theme-color)


    &:hover .home-portfolio_carousel_item_img-block_hover-block
      opacity: 1


    img
      max-width: 100%

  &_title
    font-weight: 600
    font-size: 1.125rem
    line-height: 28px
    color: var(--black-color)
    transition: all .3s
    min-height: 56px
    display: inline-block
    margin-bottom: 6px

    &:hover
      color: var(--theme-color)
      text-decoration: none


//
// Partners
//
.partners-section
  padding-top: 78px
  padding-bottom: 89px
  background: url(../images/bg-partners.jpg)
  background-repeat: no-repeat !important
  background-size: cover !important
  background-position: center center !important

  .sub-title
    margin-bottom: 17px

  &_sub-text
    font-size: 1rem
    line-height: 26px
    width: 666px
    margin-bottom: 37px

  &_carousel
    display: flex
    background: #fff
    padding: 60px 30px
    margin: 0 0 20px 0 !important
    width: 1170px

    &_item
      display: flex !important
      align-items: center
      height: 170px !important
      justify-content: center
      margin: 0 15px


  .slick-arrow
    width: 50px
    height: 50px
    background-position: center center !important
    background-image: url(../images/arrow.svg) !important
    border: 2px solid #F1F2F3
    border-radius: 50%
    background-repeat: no-repeat !important
    transition: all .3s
    margin-top: 0

    &:before
      display: none

    &:hover
      background-color: #F4F4F4
      border-color: #F4F4F4


  .slick-prev
    left: -70px
    background-image: url(../images/arrow-left.svg) !important

  .slick-next
    right: -70px

  .slick-dots
    bottom: -40px
    left: 0

    li
      margin: 0 2.5px

      button
        background-color: #D3D3D3
        border-radius: 50%
        width: 15px
        height: 15px

        &:before
          display: none

      &.slick-active
        button
          background-color: var(--dots-color)

  .link-main
    margin-top: 75px


//
// Feedback
//
.feedback-section
  padding: 90px 0

  .col-lg-6
    padding: 0

  &_image-block
    position: relative

    &:before
      display: block
      content: ""
      position: absolute
      top: -20px
      left: -20px
      border: 2px solid #F3F4F5
      width: 100%
      height: 100%
      z-index: -1

    img
      max-width: 100%

  .sub-title
    margin-bottom: 20px

  &_text
    font-size: 1rem
    line-height: 26px
    margin-bottom: 36px


  .form-feedback
    input
      border: 1px solid rgba(0, 0, 0, 0.2)
      border-radius: 5px
      display: inline-block
      padding: 12px 20px
      font-size: 0.875rem
      line-height: 26px
      color: rgba(0, 0, 0, 0.5)
      margin-bottom: 20px
      width: 370px

    .your-phone
      input
        margin-bottom: 0

    .wpcf7-submit
      margin-bottom: 0
      margin-top: 33px
      border: none
      color: var(--white-color)
      font-weight: 500
      font-size: 1rem
      line-height: 28px
      letter-spacing: 0.03em
      text-transform: uppercase
      padding: 11px
      background: var(--theme-color)
      border-radius: 30px
      transition: all .3s

      &:hover
        background-color: var(--black-color)

//
//  Contacts
//
.page-contacts
  position: relative

  &_first-row
    height: 500px
    padding: 60px 36px
    position: relative
    z-index: 2
    background: #fff
    width: 37%
    max-width: 37%
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15)

    .page-title-main
      margin-bottom: 37px

    &_list-contacts
      margin: 0 0 10px 0
      padding: 0

      &_item
        list-style: none
        margin-bottom: 22px

        svg
          margin-right: 19px

        &_phone-link
          text-decoration: none
          width: 100%
          color: var(--black-color)
          transition: all .3s
          display: inline-block

          &:hover
            color: var(--theme-color)
            text-decoration: none

        &_text
          margin: 0

    &_heading-soc-links
      margin: 0 0 13px
      line-height: 26px
      font-size: 1rem
      color: var(--black-color)

    &_soc-links
      margin: 0
      padding: 0

      &_item
        list-style: none
        padding-right: 11px
        transition: all .3s

        &:hover
          opacity: .5


  &_second-row
    position: absolute
    top: 0
    left: 0

    padding: 0


//
// Partners
//
.page-partners
  .hero
    background-image: url(../images/partners-bg.jpg)
    margin-bottom: 100px

  &_border
    height: 3px
    width: 100px
    background: var(--theme-color)
    margin: 0 auto 30px auto

  &_description
    margin-bottom: 33px

  .link.link-main.alt
    margin-bottom: 68px

  &_partners-list
    margin-bottom: 60px

    &_item
      height: 170px
      margin-bottom: 30px
//
// Hero
//
.hero
  height: 200px
  position: relative
  background-size: cover !important
  background-repeat: no-repeat !important
  background-position: center center !important

  &:before
    content: ""
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: url(../images/hero-pattern.png)
    background-size: cover !important
    background-repeat: no-repeat !important
    background-position: center center !important

  .hero_title
    line-height: 200px
    margin: 0
    font-weight: 600
    font-size: 1.875rem
    color: var(--white-color)
    position: relative
    text-align: center

//
// News
//
.page-news
  .hero
    background-image: url(../images/news-bg.jpg)
    margin-bottom: 92px

  &_category-block
    margin: 0 0 50px 0
    padding: 0

    &_item
      list-style: none

      &_link
        font-weight: 500
        margin-left: 31px
        line-height: 28px
        letter-spacing: 0.03em
        text-transform: uppercase
        color: var(--theme-color-alt)
        display: inline-block
        padding: 4px 33px
        border: 1px solid var(--theme-color-alt)
        border-radius: 30px
        transition: all .3s
        min-width: 170px
        text-align: center

        &:hover,
        &__active
          background-color: var(--theme-color-alt)
          border-color: var(--theme-color-alt)
          color: var(--white-color)
          text-decoration: none

    &_item:first-child
      .page-news_category-block_item_link
        margin-left: 0 !important

  .news-pagination
    margin: 50px 0 101px

.single-page-news
  .breadcrumbs
    margin-top: 33px
    margin-bottom: 34px

  &_first-block
    line-height: 26px
    color: #808080
    font-size: 0.875rem


    .col-lg-6
      padding: 0

    .col-lg-6:first-child
      border-bottom: 1px solid #F3F4F5
      padding-bottom: 22px

    &_category
      padding-left: 37px

  &_content
    margin-bottom: 70px

    &_img
      max-width: 570px
      float: right
      padding-bottom: 40px
      padding-left: 40px

    .page-title-main
      font-size: 1.875rem
      line-height: 40px
      margin-top: 20px
      margin-bottom: 21px

    &_text
      margin-bottom: 12px

    &_link-download
      line-height: 30px
      color: #3A5D86

      svg
        margin-right: 10px

  .title-third
    margin-bottom: 41px

  &_related-list
    margin-bottom: 90px

.breadcrumbs
  margin: 0
  padding: 0
  display: flex
  align-items: center

  .sep
    padding: 0 5px

  li
    list-style: none

    a
      text-decoration: none
      color: var(--black-color)
      font-size: 0.875rem
      transition: all .3s

      &:hover
        color: var(--theme-color)

  .current
    text-decoration: none
    color: var(--black-color)
    font-size: 0.875rem


//
// Service
//
.page-service
  .hero
    background-image: url(../images/service-bg.jpg)
    margin-bottom: 78px

  &_service-list
    border: 2px solid #F3F4F5
    padding: 15px 36px
    margin-bottom: 85px

    ul
      margin: 0
      padding: 0

  &_sub-title
    font-weight: 500
    font-size: 1.5rem
    line-height: 30px
    margin: 0 0 30px


  &_table-prices
    th
      border: none !important
      font-weight: 500
      font-size: 1rem
      line-height: 30px

    td
      border: none !important
      font-size: 1rem
      line-height: 30px
      color: #808080
      padding: 10px !important

    tr:nth-of-type(odd)
      background-color: #F4F4F4

    thead tr
      background-color: transparent !important


  &_second-row
    padding-right: 0
    writing-mode: vertical-rl
    width: 82px
    max-width: 82px
    color: #000000
    opacity: 0.5
    font-weight: 600
    font-size: 2.5rem
    line-height: 82px
    padding-top: 55px

    span
      color: var(--theme-color)

//
// Portfolio
//
.page-portfolio
  .hero
    background-image: url(../images/portfolio-bg.jpg)
    margin-bottom: 90px

  &_list-portfolio
    margin: 0
    padding: 0

    &_item
      margin-bottom: 90px

      &_content
        padding-right: 30px

        &_title
          font-weight: 600
          font-size: 1.5625rem
          line-height: 40px
          margin: 0 0 19px

        &_text
          line-height: 26px
          margin-bottom: 33px

        &_links
          .alt
          margin-left: 30px

      &_img
        &_img-wrapper
          position: relative

          &:before
            display: block
            content: ""
            position: absolute
            top: -20px
            left: -20px
            border: 2px solid #F3F4F5
            width: 100%
            height: 100%
            z-index: -1

    &_item:nth-of-type(2n+2)
      .page-portfolio_list-portfolio_item_content
        order: 2
        padding-right: 15px
        padding-left: 30px

      .page-portfolio_list-portfolio_item_img
        order: 1
        padding-left: 30px


//
// About
//
.page-about
  .hero
    background-image: url(../images/about-bg.jpg)
    margin-bottom: 50px

  &_blockquote
    border-left: 3px solid var(--theme-color)
    padding-left: 10px
    margin-bottom: 28px

    &_text
      margin-bottom: 6px

    &_author
      font-style: italic
      font-size: 0.875rem


  &_devider
    width: 100%
    height: 1px
    background: rgba(0, 0, 0, 0.1)
    margin-bottom: 32px

  &_content
    &_first
      &_text
        margin-bottom: 63px

    &_second
      padding-right: 0
      writing-mode: vertical-rl
      width: 82px
      max-width: 82px
      color: #000000
      opacity: 0.5
      font-weight: 600
      font-size: 2.375rem
      line-height: 82px

      span
        color: var(--theme-color)

  &_description
    margin: 0 -15px 63px -15px

  &_additional
    margin: 0 -30px
    color: rgba(0, 0, 0, 0.5)

    &_item
      margin-bottom: 53px
      max-width: 600px

  &_last
    margin-bottom: 75px
    font-size: 0.875rem
    line-height: 24px

  &_title_team
    font-weight: 600
    font-size: 1.875rem
    line-height: 46px
    margin: 0 0 44px


  &_list-team
    display: flex
    margin: 0 -15px 60px -15px !important
    width: 100%

    &_item
      margin: 0 15px

      &_img-block
        position: relative
        margin-bottom: 10px

        img
          width: 100%

      &_title
        margin: 0 0 5px
        font-weight: 600
        font-size: 1.125rem
        line-height: 34px

      &_position
        line-height: 26px
        color: rgba(0, 0, 0, 0.5)


  .slick-arrow
    width: 50px
    height: 50px
    background-position: center center !important
    background-image: url(../images/arrow.svg) !important
    border: 2px solid #F1F2F3
    border-radius: 50%
    background-repeat: no-repeat !important
    transition: all .3s
    margin-top: 0

    &:before
      display: none

    &:hover
      background-color: #F4F4F4
      border-color: #F4F4F4


  .slick-prev
    left: -70px
    background-image: url(../images/arrow-left.svg) !important

  .slick-next
    right: -70px

  .slick-dots
    bottom: -40px
    left: 0

    li
      margin: 0 2.5px

      button
        background-color: #D3D3D3
        border-radius: 50%
        width: 15px
        height: 15px

        &:before
          display: none

      &.slick-active
        button
          background-color: var(--dots-color)


  &_awards
    margin-top: 30px
    margin-bottom: 90px

    &_first-block
      margin: 0 -15px 50px -15px

      &_blockquote
        line-height: 26px
        border-left: 3px solid var(--theme-color)
        padding-left: 10px

    &_list-items
      margin: 0 -15px
      display: flex

      &_item

        &_link
          position: relative
          display: block
          margin: 0 15px

          &:before
            content: ''
            display: block
            cursor: pointer
            position: absolute
            width: 100%
            height: 100%
            background: url(../images/pattern-awards.png)
            background-repeat: no-repeat !important
            background-position: center center
            background-size: cover !important
            opacity: 0
            transition: all .3s

          &:hover:before
            opacity: 1


          img
            width: 100%

//
// Advertisers
//
.page-advertisers
  .hero
    background-image: url(../images/advertisers-bg.jpg)
    margin-bottom: 79px

  &_description
    margin-bottom: 55px

  &_last-text
    h2
      margin-top: 0
      font-weight: 600
      font-size: 1.5625rem
      line-height: 40px

    &_text
      line-height: 30px

      ul
        padding-left: 20px

  &_content

    &_first
      padding-left: 0

      h2
        margin-top: 0
        font-weight: 600
        font-size: 1.5625rem
        line-height: 40px

      &_text
        line-height: 30px

        ul
          padding-left: 20px


    &_second
      padding-right: 0
      writing-mode: vertical-rl
      width: 82px
      max-width: 82px
      color: #000000
      opacity: 0.5
      font-weight: 600
      font-size: 2.375rem
      line-height: 82px
      text-align: right
      padding-bottom: 60px

      span
        color: var(--theme-color)

  &_gallery
    display: flex
    margin: 0 -15px 81px -15px

    &_item
      &_link
        margin: 0 15px
        position: relative
        display: block

        img
          width: 100%


        &:before
          content: ''
          display: block
          cursor: pointer
          position: absolute
          width: 100%
          height: 100%
          background: url(../images/pattern-awards.png)
          background-repeat: no-repeat !important
          background-position: center center
          background-size: cover !important
          opacity: 0
          transition: all .3s

        &:hover:before
          opacity: 1

  .slick-arrow
    width: 50px
    height: 50px
    background-position: center center !important
    background-image: url(../images/arrow.svg) !important
    border: 2px solid #F1F2F3
    border-radius: 50%
    background-repeat: no-repeat !important
    transition: all .3s
    margin-top: 0

    &:before
      display: none

    &:hover
      background-color: #F4F4F4
      border-color: #F4F4F4


  .slick-prev
    left: -70px
    background-image: url(../images/arrow-left.svg) !important

  .slick-next
    right: -70px

  .slick-dots
    bottom: -40px
    left: 0

    li
      margin: 0 2.5px

      button
        background-color: #D3D3D3
        border-radius: 50%
        width: 15px
        height: 15px

        &:before
          display: none

      &.slick-active
        button
          background-color: var(--dots-color)

.page-archive
  margin-bottom: 90px

  .hero
    background-image: url(../images/archive-bg.jpg)
    margin-bottom: 92px

  &_list-years
    margin: 0 0 50px 0
    padding: 0

    &_item
      list-style: none

      &_link
        font-weight: 500
        margin-left: 31px
        line-height: 28px
        letter-spacing: 0.03em
        text-transform: uppercase
        color: var(--theme-color-alt)
        display: inline-block
        padding: 4px 33px
        border: 1px solid var(--theme-color-alt)
        border-radius: 30px
        transition: all .3s
        min-width: 100px
        text-align: center

        &:hover,
        &__active
          background-color: var(--theme-color-alt)
          border-color: var(--theme-color-alt)
          color: var(--white-color)
          text-decoration: none

    &_item:first-child
      .page-archive_list-years_item_link
        margin-left: 0 !important

  &_sub-title
    font-weight: 600
    font-size: 1.875rem
    line-height: 40px
    margin: 0 0 53px

  &_list-items
    margin: 0
    padding: 0

    &_item
      list-style: none
      display: flex
      margin-bottom: 30px

      &_img-block
        width: 270px
        margin-right: 30px

        a
          display: block

      &_content
        &_title
          margin: 0 0 18px

          a
            display: block
            text-decoration: none
            font-weight: 600
            font-size: 1.125rem
            line-height: 26px
            color: var(--black-color)
            transition: all .3s

            &:hover
              color: var(--theme-color)
              text-decoration: none

        &_text
          font-size: 0.75rem
          line-height: 20px
//
//  Modal
//
.modal-main
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 99
  transition: all .3s
  visibility: hidden
  opacity: 0

  &.active
    visibility: visible !important
    opacity: 1 !important

  .feedback-section
    width: 570px
    padding: 75px 48px
    background-color: #fff
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15)

    .sub-title
      font-size: 1.875rem
      text-align: center
      line-height: 40px

    .feedback-section_text,
    .form-feedback
      text-align: center

    .close-modal-custom
      position: absolute
      top: -25px
      right: -60px
      transition: all .3s

      &:hover
        opacity: .5

.success-modal-main
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 99
  transition: all .3s
  visibility: hidden
  opacity: 0

  &.active
    visibility: visible !important
    opacity: 1 !important

  .success-modal
    padding: 192px 108px
    text-align: center
    background-color: #fff
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15)

    .close-modal-custom
      position: absolute
      top: -25px
      right: -60px
      transition: all .3s

      &:hover
        opacity: .5

    &_title
      font-weight: 600
      font-size: 30px
      line-height: 40px
      margin: 0 0 0 21px

    &_text
      line-height: 26px
      margin-bottom: 20px

    &_link
      line-height: 26px
      text-align: center
      text-decoration-line: underline
      color: #13273F
      transition: all .3s
      &:hover
        text-decoration: none
        color: var(--theme-color)


.overlay-layer
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 77
  background-color: rgba(0, 0, 0, .5)
  opacity: 0
  visibility: hidden
  transition: all .3s

  &.active
    opacity: 1
    visibility: visible


//
//  Last block archive
//
.last-archive
  padding: 60px 0 70px
  background: #F4F4F4

  &_title
    font-weight: 600
    font-size: 1.875rem
    line-height: 40px
    margin: 0 0 25px

  &_text
    margin-bottom: 43px
    line-height: 26px


//
// Footer
//
footer
  background: #E3E3E3
  padding: 55px 0 30px

  .first-row
    max-width: 264px

  .copyright-privacy
    margin: 55px 0 0 0
    font-size: 14px

  [class*="col"]
    padding: 0

  #menu-footer
    margin: 0
    padding: 0
    column-count: 3

    .menu-item
      list-style: none
      margin-bottom: 14px

      a
        font-size: 0.875rem
        line-height: 17px
        color: var(--black-color)
        white-space: nowrap

  .footer_top
    a
      color: var(--black-color)

  .footer_top
    &_list-soc-links
      margin: 0
      padding: 0

      &_item
        list-style: none

        a
          transition: all .3s

          &:hover
            opacity: .5

      &_item:last-child
        a
          padding-left: 10px


    &_mail
      font-size: 0.875rem
      line-height: 30px
      text-decoration: none

    &_list-phones
      margin: 0
      padding: 0

      &_item
        list-style: none

        &_link
          text-decoration: none
          color: var(--black-color)
          font-size: 0.875rem
          line-height: 30px

  .footer_bottom
    text-align: right

    .bottom-copyright
      font-size: 0.875rem
      line-height: 16px
      color: var(--black-color)
      margin-top: 20px
      display: inline-block

      span
        color: #37991F



div.wpcf7-mail-sent-ok
  display: none!important

