

$main_font: 'Ubuntu'
$main_color : #9CCC51
$main_color_alt : #85B33E
$text_color : #67686A
$alt_color : #14918D

*
  font-family: 'Ubuntu'

=placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content