$main_font: 'Montserrat', sans-serif

@media (min-width: 1200px)
  .container
    max-width: 1170px !important

=placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content

.padding-right
  padding-right: 0 !important

//
// Header
//
.menu-menu-1-container
  #menu-main
    margin: 0
    padding: 0
    display: flex
    align-items: center

    .menu-item
      text-decoration: none
      list-style: none
      position: relative
      margin: 0 11px

      &.current_page_item
        &:before
          content: ""
          display: block
          background: url(../images/active-border.svg)
          width: 100%
          height: 8px
          margin: 0 auto
          background-size: cover
          position: absolute
          bottom: 0
          border-top-left-radius: 2px
          border-top-right-radius: 2px
          overflow: hidden

      a
        font-weight: 500
        font-size: 0.9375rem
        color: var(--black-color)
        transition: all .3s
        line-height: 80px

        &:hover
          text-decoration: none
          color: var(--theme-color)

      &:last-child
        margin-right: 0


.link
  font-weight: 500
  font-size: 1rem
  line-height: 28px
  color: var(--white-color)
  text-transform: uppercase
  background-color: var(--theme-color)
  border-radius: 30px
  display: inline-block
  transition: all .3s

  &:hover
    text-decoration: none
    color: var(--white-color)
    background-color: var(--black-color)

  &.link-large
    padding: 11px 41px

  &.link-main
    padding: 11px 28px

.sub-title
  font-weight: 600
  font-size: 1.875rem
  line-height: 46px
  color: var(--black-color)

//
// Home slider
//
.home-slider
  height: 620px
  position: relative
  background-size: cover !important
  background-position: center center !important
  overflow: hidden

  &_second,
  &_first
    padding: 0!important
    color: var(--black-color)

    &__title
      font-weight: 600
      font-size: 2.5rem
      line-height: 50px
      margin-bottom: 18px

    &__text
      line-height: 28px
      font-size: 1.125rem
      margin-bottom: 36px


  .home-slider_arrow-down
    display: inline-block
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: 40px
    z-index: 2

  .wrap-dots
    position: absolute
    top: 0
    right: 0
    left: 0
    height: 100%
    pointer-events: none

    .slick-dots
      bottom: auto
      width: auto
      top: 50%
      right: 0
      display: flex
      flex-direction: column
      li
        width: 3px
        height: 20px
        background: #FFFFFF
        border-radius: 5px
        margin: 0 0 20px 0
        button
          &:before
            display: none

        &.slick-active
          background: var(--theme-color)


//
// About
//
.home-about
  margin-top: 79px

  &_first
    padding-left: 0!important
    margin-bottom: 90px

    .sub-title
      margin-bottom: 19px

    &__text
      margin-bottom: 33px

  &_second
    padding-right: 0!important

    &_list-facts
      margin: -19px 100px 100px 0
      padding: 0!important

      &__item
        position: relative
        list-style: none
        margin-bottom: 49px

        &:before
          content: ""
          display: block
          background: url(../images/line_about.svg)
          position: absolute
          top: 50%
          margin-top: -1px
          left: 104%
          height: 1px
          width: 140%
          background-size: cover !important

        &:last-child
          margin-bottom: 0

        &__text
          font-size: 1.5rem
          line-height: 24px
          text-align: right
          margin-right: 20px

        &__number
          color: var(--theme-color)
          font-weight: bold
          font-size: 4rem
          line-height: 78px

//
// Events
//
.events-section
  background: #F4F4F4
  padding: 78px 0 91px

  .sub-title
    margin-bottom: 35px

  .events-section_list
    margin: 0 0 40px
    padding: 0
    width: 100%

    &_item
      position: relative

      &_category
        font-weight: 500
        font-size: 1rem
        line-height: 26px
        color: var(--white-color)
        padding: 8px 10px
        background-color: var(--theme-color-alt)
        border-radius: 0px 0px 5px 0px
        position: absolute
        top: 0
        left: 0

      &__wrap
        height: 100%
        background-size: cover !important
        background-position: center center !important
        position: relative

        &:before
          content: ""
          display: block
          background: url(../images/event-pattern.png)
          background-size: cover !important
          background-position: center center !important
          width: 100%
          height: 100%
          position: absolute
          top: 0
          left: 0

      &_content
        color: var(--white-color)
        position: absolute
        bottom: 0
        left: 0
        padding: 22px 25px
        width: 100%

        &_title
          font-weight: 600
          font-size: 1.875rem
          line-height: 40px
          margin-bottom: 14px
          margin-top: 0
          color: var(--white-color)
          text-decoration: none
          transition: all .3s
          display: inline-block

          &:hover
            color: var(--theme-color)
            text-decoration: none

        &_text
          line-height: 26px
          margin-bottom: 22px

      &__first
        height: 450px
        padding-left: 0

      &__second
        height: 210px
        padding: 0

        &:first-child
          margin-bottom: 30px

        .events-section_list_item_content_title
          margin-bottom: 14px

      &_content_addition_link
        color: var(--white-color)
        text-decoration: none
        transition: all .3s

        &:hover
          color: var(--theme-color)
          text-decoration: none


//
// Portfolio
//

.home-portfolio
  padding: 77px 0 90px
  overflow: hidden

  .sub-title
    margin-bottom: 45px

  .slick-dots
    bottom: -60px

    li
      margin: 0 2.5px

      button
        background-color: #D3D3D3
        border-radius: 50%
        width: 15px
        height: 15px

        &:before
          display: none

      &.slick-active
        button
          background-color: var(--dots-color)

  .slick-arrow
    width: 50px
    height: 50px
    background-position: center center !important
    background-image: url(../images/arrow.svg)!important
    border: 2px solid #F1F2F3
    border-radius: 50%
    background-repeat: no-repeat !important
    transition: all .3s
    margin-top: -90px

    &:before
      display: none

    &:hover
      background-color: #F4F4F4
      border-color: #F4F4F4


  .slick-prev
    background-image: url(../images/arrow-left.svg)!important
    left: -53px

  .slick-next
    right: -53px

  .link-main
    margin-top: 40px

.home-portfolio_carousel
  width: 1200px
  margin-bottom: 55px !important
  margin-left: -15px
  margin-right: -15px

.home-portfolio_carousel_item
  margin: 21px 15px  0 15px

  &_img-block
    margin-bottom: 10px
    position: relative
    &_overlay
      position: absolute
      top: -20px
      left: 0
      width: 100%
      height: 100%
      border: 2px solid #F3F4F5

    &_hover-block
      position: absolute
      opacity: 0
      transition: all .3s
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: url(../images/portoflio-hover.png)
      background-size: cover !important
      background-position: center center !important

      &_link
        display: inline-block
        color: var(--white-color)
        padding: 6px 19px
        font-weight: 500
        font-size: 0.875rem
        line-height: 28px
        letter-spacing: 0.03em
        text-transform: uppercase
        border: 2px solid #FFFFFF
        border-radius: 30px
        position: absolute
        bottom: 40px
        left: 50%
        transform: translateX(-50%)
        transition: all .3s

        &:hover
          color: var(--white-color)
          text-decoration: none
          background-color: var(--theme-color)
          border-color: var(--theme-color)


    &:hover .home-portfolio_carousel_item_img-block_hover-block
      opacity: 1


    img
      max-width: 100%

  &_title
    font-weight: 600
    font-size: 1.125rem
    line-height: 28px
    color: var(--black-color)
    transition: all .3s
    min-height: 56px
    display: inline-block
    margin-bottom: 6px

    &:hover
      color: var(--theme-color)
      text-decoration: none


//
// Partners
//
.partners-section
  padding-top: 78px
  padding-bottom: 89px
  background: url(../images/bg-partners.jpg)
  background-repeat: no-repeat !important
  background-size: cover !important
  background-position: center center !important

  .sub-title
    margin-bottom: 17px

  &_sub-text
    font-size: 1rem
    line-height: 26px
    width: 666px
    margin-bottom: 37px

  &_carousel
    display: flex
    background: #fff
    padding: 60px 30px
    margin: 0 0 20px 0 !important
    width: 1170px

    &_item
      display: flex !important
      align-items: center
      height: 170px !important
      justify-content: center
      margin: 0 15px


  .slick-arrow
    width: 50px
    height: 50px
    background-position: center center !important
    background-image: url(../images/arrow.svg)!important
    border: 2px solid #F1F2F3
    border-radius: 50%
    background-repeat: no-repeat !important
    transition: all .3s
    margin-top: 0

    &:before
      display: none

    &:hover
      background-color: #F4F4F4
      border-color: #F4F4F4


  .slick-prev
    left: -70px
    background-image: url(../images/arrow-left.svg)!important

  .slick-next
    right: -70px

  .slick-dots
    bottom: -40px
    left: 0

    li
      margin: 0 2.5px

      button
        background-color: #D3D3D3
        border-radius: 50%
        width: 15px
        height: 15px

        &:before
          display: none

      &.slick-active
        button
          background-color: var(--dots-color)

  .link-main
    margin-top: 75px


//
// Feedback
//
.feedback-section
  padding: 90px 0

  .col-lg-6
    padding: 0

  &_image-block
    position: relative

    &:before
      display: block
      content: ""
      position: absolute
      top: -20px
      left: -20px
      border: 2px solid #F3F4F5
      width: 100%
      height: 100%
      z-index: -1

    img
      max-width: 100%

  .sub-title
    margin-bottom: 20px

  &_text
    font-size: 1rem
    line-height: 26px
    margin-bottom: 36px


  .form-feedback
    input
      border: 1px solid rgba(0, 0, 0, 0.2)
      border-radius: 5px
      display: inline-block
      padding: 12px 20px
      font-size: 0.875rem
      line-height: 26px
      color: rgba(0, 0, 0, 0.5)
      margin-bottom: 20px
      width: 370px

    .your-phone
      input
        margin-bottom: 0

    .wpcf7-submit
      margin-bottom: 0
      margin-top: 33px
      border: none
      color: var(--white-color)
      font-weight: 500
      font-size: 1rem
      line-height: 28px
      letter-spacing: 0.03em
      text-transform: uppercase
      padding: 11px
      background: var(--theme-color)
      border-radius: 30px
      transition: all .3s

      &:hover
        background-color: var(--black-color)

//
// Footer
//
footer
  background: #E3E3E3
  padding: 55px 0 30px

  .first-row
    max-width: 264px

  .copyright-privacy
    margin: 55px 0 0 0
    font-size: 14px

  [class*="col"]
    padding: 0

  #menu-footer
    margin: 0
    padding: 0
    column-count: 3

    .menu-item
      list-style: none
      margin-bottom: 14px

      a
        font-size: 0.875rem
        line-height: 17px
        color: var(--black-color)
        white-space: nowrap

  .footer_top
    a
      color: var(--black-color)

  .footer_top
    &_list-soc-links
      margin: 0
      padding: 0

      &_item
        list-style: none

        a
          transition: all .3s

          &:hover
            opacity: .5

      &_item:last-child
        a
          padding-left: 10px


    &_mail
      font-size: 0.875rem
      line-height: 30px
      text-decoration: none

    &_list-phones
      margin: 0
      padding: 0

      &_item
        list-style: none

        &_link
          text-decoration: none
          color: var(--black-color)
          font-size: 0.875rem
          line-height: 30px

  .footer_bottom
    text-align: right

    .bottom-copyright
      font-size: 0.875rem
      line-height: 16px
      color: var(--black-color)
      margin-top: 20px
      display: inline-block

      span
        color: #37991F





